.container{
    margin: 0 auto;
    text-align: center;
    padding: 2rem 5vw;
    width: 100%;
    height: auto;
    .text_box{
        margin: 0 auto;
        padding: 0;
        width: 90%;
    }
    .flex{
        display: flex;
        overflow: scroll;
    }
}

@media (min-width: 750px) {
    .container{
        padding: 5rem 5vw;
        width: 100vw;
        height: auto;
        .text_box{
            padding-left: 0;
        }
        .flex{
            display: flex;
            overflow: scroll;
        }
    }
}