.container{
    padding: 2rem 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    img{
        border-radius: 10px;
        object-fit:cover;
        width: 100%;
        min-width: 96vw;
        height: 267px;
    }
    h3{
        margin-top: 1rem;
    }
}


@media (min-width: 750px) {
    .container{
        filter: brightness(100%);
        transition: all .2s ease-in-out;
        &:hover{
        filter: brightness(90%);
        transform: scale(1.01);
        }
        img{
            object-fit:cover;
            width: 30vw;
            min-width: 10vw;
            max-width: 370px;
            height: 267px;
            &:hover{
                box-shadow: 0px 4px 40px #E1E5EC;
            }
        }

    }
}