
.navbar{
    z-index: 9999;
    padding: 0;
    width: 100%;
    position: fixed;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.308);
    min-height: 50px;
    a{
        font-weight: 600;
        font-size: 20px;
        text-decoration: none !important;
        color: white !important;
            &:visited{
              text-decoration: none;
              color: white;
            }
            &:hover{
              text-decoration: none;
              color: white;
            }
            &:focus{
              text-decoration: none;
              color: white;
            }
            &:active{
              text-decoration: none;
              color: white;
            }
        }
    ul{
        list-style-type: none;
        width: 30vw;
        max-width: 300px;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 870px) {
.navbar{
    padding: 0 5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        color: #ffffff;
        font-weight: 600;
        font-size: 20px;
    } 
    .active{
        text-decoration: underline;
    }
    ul{
        width: 25vw;
        display: flex;
        justify-content: space-between;
    }
}
}