.container{
    background-color: whitesmoke;
    height: calc(100vh - 10vh);
    display: flex;
    text-align: center;
    padding: 2rem 5vw;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    .text{
        width: 90vw;
        h1{
            margin-bottom: 1rem;
        }
        h2{
            margin: 0 auto;
            color: gray;
            font-weight: 300;
            max-width:100%
        }
        a{
            margin-top: 3rem;
        }
    }
}

@media (min-width: 750px) {
    .container{
        padding: 10vh 5vw;
        .text{
            width: 70vw;
            h1{
                color: black;
            }
            h2{
                max-width:80%
            }
            a{
                margin-top: 3rem;
            }
        }
    }
}